:root {
  text-align: center;
  --page-bg: #ffffff;
  --element-bg: #e7e7e7;
  --element-hover: #d6d6d6;
  --text-color: black;
  --file-box-color: #eeeeee;
}
@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #0a0027;
    --element-bg: rgb(120, 141, 173);
    --element-hover: rgb(127, 149, 181);
    --text-color: white;
    --file-box-color: rgb(12, 30, 58);
  }
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/**
* SIDEBAR STYLES
*/
.sidebar {
  background-color: var(--element-bg);
  width: 25%;
  height: 100%;
  position: fixed;
  overflow: auto;
  color: var(--text-color);
}

.sidebarContainer {
  padding: 20px;
  text-align: left;
}

.inputOption {
  background-color: var(--element-bg);
  text-align: left;
}
.inputOption .accordion{
  --bs-accordion-bg: var(--element-bg);
  --bs-accordion-active-bg: var(--element-bg);
  --bs-accordion-border-color: var(--element-hover);
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-padding-x: 5;
}
.selectorLabel {
  width: 100%;
  background-color: var(--element-bg);
  overflow-wrap: break-word;
}
.selectorLabel:hover {
  width: 100%;
  background-color: var(--element-hover);
}

.sidebar-padding {
  padding: 20px;
}

/**
* PANER STYLES
*/
/* panel container */
.paner {
  float: right;
  width: 75%;
  min-height: 100vh;
  background-color: var(--page-bg);
}

/* .panel {
  border: solid;
  border-color: var(--element-bg);
  background-color: var(--element-bg);
  margin: auto;
  width: 80%;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
} */

.panel {
  border: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  margin: auto;
  width: 90%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.panelactive {
  
  border-color: rgb(134, 201, 219);
}

.panel-header .title {
  height: 15%;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.0em;
}

.panel-header {
  display: flex;
  justify-content: space-between;
}
.sidebarFileBox {
  padding:20px;
	display: grid;
	align-items: center;
  border-style: dotted;
  background-color: var(--file-box-color);
}

.fileUploadIndic {
	display: grid;
	align-items: center;
  position: fixed;
  width: 98%;
  height: 98%;
  left: 1%;
  top: 1%;
  border-style: dotted;
  pointer-events: none;
  background-color: #eeeeee;
  opacity: 0;
  z-index:1000000;
}

.fileUploadSuccess {
	display: grid;
	align-items: center;
  position: fixed;
  width: 98%;
  height: 98%;
  left: 1%;
  top: 1%;
  border-style: dotted;
  pointer-events: none;
  background-color: #aaff82;
  z-index:1000000;
}

.fileUploadWarn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 98%;
  height: 98%;
  left: 1%;
  top: 1%;
  border-style: dotted;
  pointer-events: none;
  background-color: #ff9999;
  color: white;
  z-index:1000000;
}

.panel .body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.modal {
  display: none;
  z-index: 1;
  background-color: #8888;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  float: center;
  overflow: auto;
}

.modal-box {
  background-color: #f8f8f8;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  margin: auto;
  z-index: 0;
  position:relative;
}

.modal-btn {
  margin-left: 16px;
  margin-right: 16px;
}

.modal-cancel-btn {
  background-color: #aaa;
}

.widget {
  min-height: 100%;
  width: fit-content;
  position: relative;
  float: left;
  border: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.widget:hover {
  border-color: lightgray;
}

.widget-row {
  height: 250px;
  width: 80%;
  display: inline-grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: visible;
  column-gap: 50px;
}

.add-widget-btns {
  display: inline-grid;
  row-gap: 2px;
}

.widget-btn {
  width: 150px;
}

.close-widget {
  position: relative;
  float: right;
}

.delete-btn {
  border-width: medium;
  border-color: #d00000;
  background-color: #f33333;
  color: white;
}

.text-warning {
  color: red;
}