:root {
    text-align: center;
    --page-bg: #ffffff;
    --element-bg: #e7e7e7;
    --element-hover: #d6d6d6;
    --text-color: black;
    --file-box-color: #eeeeee;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.font-italic {
    font-style: italic;
}

#sidebar-tab-handler {
    display: flex;
    flex-direction: column;
}

.nav-item {
    width: 33%;
    display: flex;
}

.sidebar {
    background-color: var(--element-bg);
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    color: var(--text-color);
}

.sidebar strong query-active {
    color: orange;
}

.sidebarContainer {
    padding: 20px;
    text-align: left;
}

.legal-text {
    float: left;
    width: 100%;
    font-size: 15px;
    text-align: left;
    text-wrap: balance;
    margin: 10px;
}

.inputOption {
    background-color: var(--element-bg);
    text-align: left;
}

.inputOption .accordion {
    --bs-accordion-bg: var(--element-bg);
    --bs-accordion-active-bg: var(--element-bg);
    --bs-accordion-border-color: var(--element-hover);
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-padding-x: 5;
}

.accordion-button {
    color: var(--text-color) !important;
    background-color: var(--element-bg) !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.selectorLabel {
    width: 90%;
    background-color: var(--element-bg);
    overflow-wrap: break-word;
}
.selectorLabel:hover {
    background-color: var(--element-hover);
}
.select-all-label {
    margin-left: 8px;
    width: 85%;
}

.speciesRowLabel {
    width: 100%;
    background-color: var(--element-bg);
    display: block;
    white-space: nowrap;
    display: inline-flex;
}
.speciesRowLabel:hover {
    width: 100%;
    background-color: var(--element-hover);
}
.speciesRowLabelText {
    width: 65%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.speciesRowLabel .btn {
    padding: 0;
    width: 30%;
    float: right;
}
.speciesGroupRowDiv {
    padding-bottom: 5px;
}
.speciesGroupRowDiv button {
    margin-left: 15px;
}
.speciesTooltip {
    width: 300px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.speciesTooltipCard {
    text-align: left;
}
.speciesEndangermentFilterBtn {
    margin-right: 5px;
}

.sidebar-padding {
    padding: 20px;
}

.paner {
    float: right;
    width: 75%;
    min-height: 100vh;
    background-color: var(--page-bg);
}

.panel {
    border: solid 1px var(--element-hover);
    border-radius: 10px;
    margin: auto;
    width: 90%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.panel:hover {
    box-shadow: 1px 1px 3px 5px var(--bs-light);
}

.panel-header .title {
    height: 15%;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.panel-header {
    display: flex;
    justify-content: space-between;
}
.sidebarFileBox {
    padding: 20px;
    display: grid;
    align-items: center;
    background-color: var(--file-box-color);
}

.fileUploadIndic {
    display: grid;
    align-items: center;
    position: fixed;
    width: 98%;
    height: 98%;
    left: 1%;
    top: 1%;
    pointer-events: none;
    background-color: #eeeeee;
    opacity: 0;
    z-index: 1000000;
}

.fileUploadSuccess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 98%;
    height: 98%;
    left: 1%;
    top: 1%;
    background-color: #aaff82;
    font-weight: bold;
    z-index: 1000000;
}

.fileUploadWarn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 98%;
    height: 98%;
    left: 1%;
    top: 1%;
    background-color: var(--bs-warning);
    z-index: 1000000;
}

.download-btn {
    content: center;
    padding-left: 10px;
}

.download-btn svg {
    fill: var(--bs-secondary);
}
.panel-body {
    overflow: hidden;
    position: relative;
}

.modal-btn {
    margin-left: 16px;
    margin-right: 16px;
}

span {
    width: 100%;
}

.widget-icon-row {
    display: flex;
    transition: transform 0.5s;
    z-index: 10;
    position: relative;
    transform: translateX(-250px);
}

.add-widget-row {
    position: absolute;
    bottom: 10px;
    display: flex;
}

.show-widget-icons {
    background-color: var(--bs-white);
    color: var(--bs-secondary);
    height: 50px;
    width: 50px;
    border-radius: 0% 50% 50% 0%;
    position: relative;
    z-index: 100;
    padding-left: 5px;
    padding-right: 5px;
}

.widget-icon {
    border-radius: 50%;
    background-color: var(--bs-secondary);
    color: var(--bs-white);
    height: 50px;
    width: 50px;
    position: relative;
    margin-left: 5px;
}
.widget-icon-inner {
    background-color: var(--element-bg);
    color: var(--bs-white);
    height: 35px;
    width: 35px;
    position: relative;
    margin-top: 7.5px;
}

.add-widget-row:hover .widget-icon-row {
    transform: translateX(0px);
    visibility: visible;
}

.widget-icon .tool-tip {
    visibility: hidden;
    width: 120px;
    background-color: var(--bs-dark);
    color: var(--bs-light);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

.widget-icon:hover .tool-tip {
    visibility: visible;
}

.show-widget-icons:hover .tool-tip {
    visibility: visible;
}

.add-widget-btns {
    display: inline-grid;
    row-gap: 2px;
}

.widget-btn {
    width: 150px;
}

.close-widget {
    position: relative;
    float: right;
}

.fullscreen-widget {
    position: relative;
    float: left;
    margin: 10px;
    width: 1.5em;
    height: 1.5em;
}
.add-panel-button {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #ddd;
}

.react-resizable {
    position: relative;
    display: block;
}
.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: bottom;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: s-resize;
    transform: rotate(45deg);
}

.widgetTitle {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.widget {
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid;
    width: fit-content;
    overflow: auto;
    border-radius: 5px;
    border-color: var(--element-hover) !important;
    border-width: 1px !important;
}

.panel-need-refresh {
    border-color: rgb(255, 156, 156) !important;
}
.panel-need-refresh .accordion-button {
    background-color: rgb(255, 73, 73) !important;
    --bs-accordion-border-color: red;
    color: white !important;
}
.panel-need-refresh .accordion-body {
    background-color: rgb(255, 227, 227) !important;
}

.panelactive,
.widgetactive {
    border-width: 3px !important;
}

.widget:hover {
    box-shadow: 1px 1px 2px 3px lightgray;
}

.widget-row {
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
    overflow: auto;
    transition: scrollTop 1s;

    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.add-widget-btns {
    display: inline-grid;
    row-gap: 2px;
}

.widget-btn {
    width: 150px;
}

.close-widget {
    position: relative;
    float: right;
    margin: 10px;
}

* {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.nav-link {
    color: var(--bs-nav-tabs-link-active-color) !important;
}

.widget-icon svg {
    fill: var(--bs-white);
    background-color: var(--bs-secondary);
}

.widget:has(div table.table) {
    width: 90%;
}

.color-input {
    background-color: #e7e7e7;
    height: 19px;
    width: 24px;
    margin-right: 5px;
    padding-top: 0;
    border: none;
}

.color-nametag {
    position: relative;
    left: 5px;
    top: -3.5px;
}
