:root {
    text-align: center;
    --page-bg: #ffffff;
    --element-bg: #e7e7e7;
    --element-hover: #d6d6d6;
    --text-color: black;
    --file-box-color: #eeeeee;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: dark) {
    :root {
        --page-bg: #0a0027;
        --element-bg: rgb(120, 141, 173);
        --element-hover: rgb(127, 149, 181);
        --text-color: white;
        --file-box-color: rgb(12, 30, 58);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.font-italic {
    font-style: italic;
}

/**
* SIDEBAR STYLES
*/
.sidebar {
    background-color: var(--element-bg);
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    color: var(--text-color);
}

.sidebar strong {
    color: #052c65;
}
.sidebar strong query-active {
    color: orange;
}

.sidebarContainer {
    padding: 20px;
    text-align: left;
}

.inputOption {
    background-color: var(--element-bg);
    text-align: left;
}
.inputOption .accordion {
    --bs-accordion-bg: var(--element-bg);
    --bs-accordion-active-bg: var(--element-bg);
    --bs-accordion-border-color: var(--element-hover);
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-padding-x: 5;
}

.selectorLabel {
    width: 90%;
    background-color: var(--element-bg);
    overflow-wrap: break-word;
}
.selectorLabel:hover {
    background-color: var(--element-hover);
}
.select-all-label {
    margin-left: 8px;
    width: 85%;
}

/**
* Handles the styling on each row in the species filter UI
*/
.speciesRowLabel {
    width: 100%;
    background-color: var(--element-bg);
    display: block;
    white-space: nowrap;
    display: inline-flex;
}
.speciesRowLabel:hover {
    width: 100%;
    background-color: var(--element-hover);
}
.speciesRowLabelText {
    width: 65%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.speciesRowLabel .btn {
    padding: 0;
    width: 30%;
    float: right;
}
.speciesGroupRowDiv {
    padding-bottom: 5px;
}
.speciesGroupRowDiv button {
    margin-left: 15px;
}
.speciesTooltip {
    width: 300px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.speciesTooltipCard {
    text-align: left;
}
.speciesEndangermentFilterBtn {
    margin-right: 5px;
}

.sidebar-padding {
    padding: 20px;
}

/**
* PANER STYLES
*/
/* panel container */
.paner {
    float: right;
    width: 75%;
    min-height: 100vh;
    background-color: var(--page-bg);
}

/* .panel {
  border: solid;
  border-color: var(--element-bg);
  background-color: var(--element-bg);
  margin: auto;
  width: 80%;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
} */

.panel {
    border: none;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.panel:hover {
    box-shadow: 1px 1px 3px 5px lightgray;
}

.panelactive {
    border: solid;
    border-color: rgb(134, 201, 219);
}

.panel-header .title {
    height: 15%;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.panel-header {
    display: flex;
    justify-content: space-between;
}
.sidebarFileBox {
    padding: 20px;
    display: grid;
    align-items: center;
    border-style: dotted;
    background-color: var(--file-box-color);
}

.fileUploadIndic {
    display: grid;
    align-items: center;
    position: fixed;
    width: 98%;
    height: 98%;
    left: 1%;
    top: 1%;
    border-style: dotted;
    pointer-events: none;
    background-color: #eeeeee;
    opacity: 0;
    z-index: 1000000;
}

.fileUploadSuccess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 98%;
    height: 98%;
    left: 1%;
    top: 1%;
    border-style: dotted;
    background-color: #aaff82;
    font-weight: bold;
    z-index: 1000000;
}

.fileUploadWarn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 98%;
    height: 98%;
    left: 1%;
    top: 1%;
    border-style: dotted;
    background-color: #ff9999;
    color: rgb(47, 1, 1);
    z-index: 1000000;
}

.panel-body {
    overflow: hidden;
}

.modal-btn {
    margin-left: 16px;
    margin-right: 16px;
}

.modal-cancel-btn {
    background-color: #aaa;
}

span {
    width: 100%;
}

.widget-icon-row {
    display: flex;
    transition: transform 0.5s;
    z-index: 10;
    position: relative;
    transform: translateX(-250px);
    /* visibility: hidden; */
}

.add-widget-row {
    display: flex;
}

.show-widget-icons {
    background-color: white;
    color: var(--element-bg);
    height: 50px;
    width: 50px;
    border-radius: 0% 50% 50% 0%;
    position: relative;
    z-index: 100;
}

.widget-icon {
    border-radius: 50%;
    background-color: var(--element-bg);
    color: white;
    height: 50px;
    width: 50px;
    position: relative;
    margin-left: 5px;
}
.widget-icon-inner {
    background-color: var(--element-bg);
    color: white;
    height: 35px;
    width: 35px;
    position: relative;
    margin-top: 7.5px;
}

.add-widget-row:hover .widget-icon-row {
    transform: translateX(0px);
    visibility: visible;
}

.widget-icon .tool-tip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.widget-icon:hover .tool-tip {
    visibility: visible;
}

.show-widget-icons:hover .tool-tip {
    visibility: visible;
}
.widget {
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid;
    overflow: auto;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.widget:hover {
    border-color: lightgray;
}

.widget-row {
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
    overflow: auto;
    transition: scrollTop 1s;
}

.add-widget-btns {
    display: inline-grid;
    row-gap: 2px;
}

.widget-btn {
    width: 150px;
}

.close-widget {
    position: relative;
    float: right;
}

.fullscreen-widget {
    position: relative;
    float: left;
    padding: 3px;
    width: 1.5em;
    height: 1.5em;
}

.delete-btn {
    border-width: medium;
    border-color: #d00000;
    background-color: #f33333;
    color: white;
}

.add-panel-button {
    margin-top: 16px;
    background-color: #ddd;
}

.text-warning {
    color: red;
}

.react-resizable {
    position: relative;
    display: block;
}
.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: bottom;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: s-resize;
    transform: rotate(45deg);
}

/**
* General Widget styles
*/
.widgetTitle {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.widget {
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}
.widgetactive {
    border-color: rgb(134, 201, 219, 1);
}

.widget:hover {
    box-shadow: 1px 1px 3px 5px lightgray;
}

.widget-row {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.add-widget-btns {
    display: inline-grid;
    row-gap: 2px;
}

.widget-btn {
    width: 150px;
}

.close-widget {
    position: relative;
    float: right;
}

/**
* Table Widget styles
*/
.lr-button {
    margin: 5px;
}

* {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
